apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ kubernetes_librenms_configmap }}
  namespace: {{ kubernetes_librenms_namespace }}
data:
  db.host: "{{ kubernetes_librenms_db.host }}"
  db.name: "{{ kubernetes_librenms_db.name }}"
  pollers: "{{ kubernetes_librenms_pollers }}"
  enable-syslog: "{{ kubernetes_librenms_enable_syslog }}"
