apiVersion: v1
kind: Secret
metadata:
  name: {{ kubernetes_librenms_secret }}
  namespace: {{ kubernetes_librenms_namespace }}
type: Opaque
data:
  db.password: {{ kubernetes_librenms_db.password | b64encode }}
  db.user: {{ kubernetes_librenms_db.user | b64encode }}
