kind: Service
apiVersion: v1
metadata:
  name: {{ kubernetes_librenms_service }}
  namespace: {{ kubernetes_librenms_namespace }}
spec:
  selector:
    app: {{ kubernetes_librenms_app }}
  ports:
    - port: 80
      targetPort: http
      name: http
    - port: 514
      targetPort: syslog
      name: syslog
